
<div class="container" >
  <form action="/sign_in" method="get" align="right">
    <input type="submit" value="Log In" >
  </form>
  <h1>Welcome to Jersman!</h1>

  <div class="create_box" align="left">
    <h2>Create your account here</h2>  
    <form action="/create" method="post" >
      <div>Name:     <input type="text" name="name" ></div>
      <div>Email:    <input type="text" name="email" ></div>
      <div>Password: <input type="text" name="password" ></div><br>
      <input type="submit" value="Sign Up!">
    </form>

  </div>

  <div class="create_box" align="left">
    <h2>Log in here!</h2> 
    <form action="/user" method="get" >
      <div>Email:    <input type="text" name="email" ></div>
      <div>Password: <input type="text" name="password" ></div><br>
      <input type="submit" value="Log in!">
    </form>
  </div>
</div>
