<div class="container" align="center">
  <div class="create_box">
    <h2>Create your account here</h2> 
    <form action="/create" method="post" >
      <div>Email:    <input type="text" name="email" ></div>
      <div>Password: <input type="text" name="password" ></div><br>
      <input type="submit" value="Log in!">
    </form>
  </div>

</div>